{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/nosotros.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de Mí</h1>
    <span class="subheading">Estudiante Curso FullStack Python Codo a Codo
                
              </span>
{% endblock %}   
{% block content %}
<!-- Contenido Principal -->
<div class="container">
  <div class="row">   
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="img/acerca.jpg" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        
      
      
    </div>
  </div>  
</div>

{% endblock %}
