{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/acerca.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Realizo su Proyecto</span>
{% endblock %}
{% block content %}
<!-- Contenido Principal -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>"Usando íconos puedes crear un sentido de pertenencia, y puedes crear un programa internacional que no depende de ningún lenguaje."</p>
        <br>
        <p>Lance Wyman</p>
      </div>
    </div>
  </div>

{% endblock %}